<div class="register-container">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  
    <form [formGroup]="registerForm" (ngSubmit)="register()">
  
      <div class="form-group">
        <input id="username" type="text" formControlName="username" class="form-control" placeholder="Enter username" />
        <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched" class="error">
          Username is required
        </div>
      </div>
  
      <div class="form-group">
        <input id="email" type="email" formControlName="email" class="form-control" placeholder="Enter email" />
        <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="error">
          Valid email is required
        </div>
      </div>

      <div class="form-group">
        <select class="form-select" id="applicationSelect" formControlName="applicationSelect">
          <option [ngValue]="-1" disabled selected>Select an application</option>
          <option *ngFor="let source of applications" [value]="source.alternateId">
            {{ source.name }}
          </option>
        </select>

      </div>

      <div class="form-group">
        <input id="customer" type="text" formControlName="customer" class="form-control" placeholder="Enter customer name" />
        <div *ngIf="registerForm.controls['customer'].invalid && registerForm.controls['customer'].touched" class="error">
          Customer is required
        </div>
      </div>
  
      <div class="form-group">
        <input id="password" type="password" formControlName="password" class="form-control" placeholder="Enter password" />
        <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="error">
          Password must be between 8 and 32 characters
        </div>
      </div>
  
      <div class="form-group">
        <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password" />
        <div *ngIf="registerForm.controls['confirmPassword'].invalid && registerForm.controls['confirmPassword'].touched" class="error">
          Passwords must match
        </div>
      </div>

      <div *ngIf="validationErrors && validationErrors.length" class="error-list">
        <ul>
          <li *ngFor="let error of validationErrors">{{ error }}</li>
        </ul>
      </div>

      <div class="text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
  
    </form>
  </div>
  